* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  background-color: #2c2c2e;
  font-family: "open sans", sans serif;
  color: #2c2c2e;
}

header, footer {
  background-color: #2c2c2e;
}

.wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.width-container, .header-container, .navigation__dropdown, .main-content, .main-content__description p, .secondary-content, .secondary-content__container, .contact-content, .mont-content, .mont-content__heading, .mont-content__description, .mont-content__sec-heading {
  max-width: 95%;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .width-container, .header-container, .navigation__dropdown, .main-content, .main-content__description p, .secondary-content, .secondary-content__container, .contact-content, .mont-content, .mont-content__heading, .mont-content__description, .mont-content__sec-heading {
    max-width: 80%;
  }
}

@media (min-width: 1400px) {
  .width-container, .header-container, .navigation__dropdown, .main-content, .main-content__description p, .secondary-content, .secondary-content__container, .contact-content, .mont-content, .mont-content__heading, .mont-content__description, .mont-content__sec-heading {
    max-width: 75%;
  }
}

@media (min-width: 992px) {
  .secondary-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 95%;
    margin: 0 auto;
    gap: 50px;
  }
}

@media (min-width: 1200px) {
  .secondary-wrapper {
    width: 80%;
  }
}

@media (min-width: 1400px) {
  .secondary-wrapper {
    width: 75%;
  }
}

body {
  font-size: 1rem;
}

@media (min-width: 992px) {
  body {
    font-size: 1.125rem;
  }
}

h1,
h2 {
  font-family: "montserrat", sans serif;
  text-transform: uppercase;
  color: #66d9af;
}

h1 {
  color: white;
  font-weight: 500;
  font-size: 1rem;
}

@media (min-width: 576px) {
  h1 {
    font-size: 1.25rem;
  }
}

h2 {
  padding-left: 2.5%;
  font-size: 1.25rem;
}

@media (min-width: 992px) {
  h2 {
    padding-left: 12.5%;
    background-color: #66d9af;
    color: #2c2c2e;
    display: block;
    width: 75%;
    margin: 0 auto;
    padding: 1rem;
  }
}

@media (min-width: 992px) {
  .h2-small {
    display: none;
  }
}

.h2-large {
  display: none;
}

@media (min-width: 992px) {
  .h2-large {
    display: block;
    width: 100%;
  }
}

h3 {
  font-family: "montserrat", sans serif;
  font-size: 1rem;
}

h4 {
  font-family: "montserrat", sans serif;
  margin: 0;
  padding-top: 1rem;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.header-container__link {
  color: white;
  text-decoration: none;
}

.header-container__logo {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media (min-width: 992px) {
  .header-container__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.header-container__img {
  width: 250px;
  display: block;
}

.navigation {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  cursor: pointer;
}

@media (min-width: 992px) {
  .navigation {
    display: none;
  }
}

.navigation__icon {
  color: #66d9af;
  font-size: 2rem;
  padding-left: 1rem;
}

.navigation__dropdown {
  display: none;
}

.navigation__list {
  font-size: 1.25rem;
  list-style: none;
  text-transform: uppercase;
  padding: 0 0 0.5rem 1rem;
  margin: 0;
}

.navigation__item {
  padding-bottom: 0.5rem;
}

.navigation__link {
  cursor: pointer;
  color: #66d9af;
  text-decoration: none;
}

.navigation-menu {
  display: none;
}

@media (min-width: 992px) {
  .navigation-menu {
    display: block;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.navigation-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

.navigation-menu__item {
  list-style: none;
  padding-left: 2rem;
  margin: 0;
  font-family: "montserrat", sans serif;
  text-transform: uppercase;
  font-size: 1.25rem;
}

.navigation-menu__link {
  color: #66d9af;
  text-decoration: none;
  -webkit-transition: border-bottom 0.5s;
  transition: border-bottom 0.5s;
  border-bottom: 2px solid transparent;
}

.navigation-menu__link--active {
  color: #fff;
}

.navigation-menu__link:hover {
  border-bottom: 2px solid #fff;
}

.main-content {
  position: relative;
  margin-bottom: 25px;
  height: 500px;
  background-image: url("../images/varmepumpe.jpg");
  background-size: cover;
}

.main-content__sertificate {
  width: 180px;
  background-color: #66d9af;
  color: #2c2c2e;
  font-family: "roboto";
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
  position: absolute;
  left: 20px;
  top: 30px;
  padding: 1rem;
}

@media (min-width: 992px) {
  .main-content__sertificate {
    width: 250px;
  }
}

.main-content__container {
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media (min-width: 992px) {
  .main-content__container {
    width: 50%;
    right: 0;
  }
}

@media (min-width: 1200px) {
  .main-content__container {
    width: 33%;
    right: 0;
  }
}

.main-content__heading {
  list-style: none;
  margin: 0;
  padding: 12px 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #fff;
  color: #2c2c2e;
  font-family: "montserrat", sans serif;
  text-transform: uppercase;
  font-weight: bold;
}

@media (min-width: 992px) {
  .main-content__heading {
    border-radius: 15px 0 0 0;
  }
}

.main-content__description {
  background-color: #acdfcc;
  color: #2c2c2e;
  font-weight: 500;
  margin: 0;
}

.main-content__description p {
  padding: 1rem 0;
}

.secondary-content {
  margin-top: 0;
  background-color: #fff;
  color: #2c2c2e;
}

@media (min-width: 992px) {
  .secondary-content {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
}

.secondary-content__container {
  padding-top: 1rem;
}

.secondary-content__list {
  margin: 0;
  padding: 0 1rem 1rem 2rem;
}

.secondary-content__item {
  padding: 0.5rem 0;
}

.secondary-content__sec-heading {
  padding-top: 1rem;
}

.contact-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 576px) {
  .contact-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 992px) {
  .contact-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.contact-content__container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  color: #2c2c2e;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 10%;
}

@media (min-width: 576px) {
  .contact-content__container1 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0;
  }
}

.contact-content__fig {
  margin: 0;
  padding: 1rem 5% 1rem 0;
}

.contact-content__item {
  padding: 0;
  margin: 0;
  text-transform: capitalize;
}

.contact-content__item:first-child {
  padding-bottom: 0.5rem;
}

.contact-content__container2 {
  background-color: #acdfcc;
  color: #2c2c2e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.contact-content__container3 {
  min-width: 250px;
  margin: 0 auto;
}

.contact-content__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2c2c2e;
  text-decoration: none;
}

.contact-content__icon {
  font-size: 1.75rem;
  padding-right: 1rem;
}

.contact-content__phone-number {
  font-size: 1.5rem;
  text-decoration: underline;
  margin: 0;
}

.contact-content__email-address {
  font-size: 1rem;
  padding-top: 0;
  text-decoration: underline;
}

.mont-content {
  background-color: #acdfcc;
  color: #2c2c2e;
  margin-bottom: 10px;
}

.mont-content__heading {
  padding: 1rem 0 1rem 0;
  color: #2c2c2e;
}

.mont-content__description {
  padding-bottom: 1rem;
}

.mont-content__sec-heading {
  font-size: 1.125rem;
  margin-top: 0;
  padding-top: 1rem;
  text-decoration: underline;
}

footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #2c2c2e;
  color: white;
}

.footer-container {
  text-align: center;
  padding: 1rem;
}

.footer-container::before {
  content: "\00A9";
  padding-right: 5px;
}
/*# sourceMappingURL=style.css.map */