.header-container {
  @extend .width-container;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  order: 2;
}

.navigation {
  order: 1;

  &__icon {
    color: $color-primary;
    font-size: 1.5rem;
  }

  &__dropdown {
    display: none;
  }

  &__list {
    list-style: none;
    text-transform: uppercase;
    color: $color-primary;
    padding: 0;
    margin: 0;
  }

  &__item {
    padding-top: 0.5rem;
  }
}
