.header-container {
  @extend .width-container;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 1rem;

  &__link {
    color: white;
    text-decoration: none;
  }
}

h1 {
  order: 2;
  padding-right: 2rem;
}

.navigation {
  order: 1;
  cursor: pointer;

  &__icon {
    color: $color-primary;
    font-size: 2rem;
    padding-left: 1rem;
  }

  &__dropdown {
    display: none;
    @extend .width-container;
  }

  &__list {
    font-size: 1.25rem;
    list-style: none;
    text-transform: uppercase;
    padding: 0 0 0.5rem 1rem;
    margin: 0;
  }

  &__item {
    padding-bottom: 0.5rem;
  }

  &__link {
    cursor: pointer;
    color: $color-primary;
    text-decoration: none;
  }
}
