.header-container {
  @extend .width-container;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 1rem;

  &__link {
    color: white;
    text-decoration: none;
  }

  &__logo {
    order: 2;

    @media (min-width: 992px) {
      order: 1;
    }
  }

  &__img {
    width: 250px;
    display: block;
  }
}

.navigation {
  order: 1;
  cursor: pointer;

  @media (min-width: 992px) {
    display: none;
  }

  &__icon {
    color: $color-primary;
    font-size: 2rem;
    padding-left: 1rem;
  }

  &__dropdown {
    display: none;
    @extend .width-container;
  }

  &__list {
    font-size: 1.25rem;
    list-style: none;
    text-transform: uppercase;
    padding: 0 0 0.5rem 1rem;
    margin: 0;
  }

  &__item {
    padding-bottom: 0.5rem;
  }

  &__link {
    cursor: pointer;
    color: $color-primary;
    text-decoration: none;
  }
}

.navigation-menu {
  display: none;

  @media (min-width: 992px) {
    display: block;
    order: 2;
  }

  &__list {
    display: flex;
    padding: 0;
    margin: 0;
  }

  &__item {
    list-style: none;
    padding-left: 2rem;
    margin: 0;
    font-family: $font-primary;
    text-transform: uppercase;
    font-size: 1.25rem;
  }

  &__link {
    color: $color-primary;
    text-decoration: none;
    transition: border-bottom 0.5s;
    border-bottom: 2px solid transparent;

    &--active {
      color: $color-secondary;
    }
  }

  &__link:hover {
    border-bottom: 2px solid $color-secondary;
  }
}
