.main-content {
  @extend .width-container;
  position: relative;
  margin-bottom: 25px;
  height: 500px;

  background-image: url("../images/varmepumpe.jpg");
  background-size: cover;

  &__sertificate {
    width: 180px;
    background-color: $color-primary;
    color: $color-background;
    font-family: "roboto";
    text-transform: uppercase;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    left: 20px;
    top: 30px;
    padding: 1rem;

    @media (min-width: 992px) {
      width: 250px;
    }
  }

  &__container {
    position: absolute;
    bottom: 0;
    width: 100%;

    @media (min-width: 992px) {
      width: 50%;
      right: 0;
    }

    @media (min-width: 1200px) {
      width: 33%;
      right: 0;
    }
  }

  &__heading {
    list-style: none;
    margin: 0;
    padding: 12px 0.5rem;
    display: flex;
    justify-content: space-evenly;
    background-color: $color-secondary;
    color: $color-background;
    font-family: $font-primary;
    text-transform: uppercase;
    font-weight: bold;

    @media (min-width: 992px) {
      border-radius: 15px 0 0 0;
    }
  }

  &__description {
    background-color: $color-primary-light;
    color: $color-background;
    font-weight: 500;
    margin: 0;
  }

  &__description p {
    @extend .width-container;
    padding: 1rem 0;
  }
}

.secondary-content {
  @extend .width-container;

  margin-top: 0;
  background-color: $color-secondary;
  color: $color-background;

  @media (min-width: 992px) {
      flex: 2;
    }

  &__container {
    @extend .width-container;
    padding-top: 1rem;
  }

  &__list {
    margin: 0;
    padding: 0 1rem 1rem 2rem;
  }

  &__item {
    padding: 0.5rem 0;
  }

  &__sec-heading {
    padding-top: 1rem;
  }
}

.contact-content {
  @extend .width-container;

  display: flex;
  flex-direction: column;

  @media (min-width: 576px) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: 992px) {
    flex-direction: column;
    flex: 1;
  }

  &__container1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: $color-secondary;
    color: $color-background;
    flex: 1;
    padding-left: 10%;

    @media (min-width: 576px) {
      justify-content: center;
      padding-left: 0;
    }
  }

  &__fig {
    margin: 0;
    padding: 1rem 5% 1rem 0;
  }

  &__item {
    padding: 0;
    margin: 0;
    text-transform: capitalize;
  }

  &__item:first-child {
    padding-bottom: 0.5rem;
  }

  &__container2 {
    background-color: $color-primary-light;
    color: $color-background;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &__container3 {
    min-width: 250px;
    margin: 0 auto;
  }

  &__link {
    display: flex;
    align-items: center;
    color: $color-background;
    text-decoration: none;
  }

  &__icon {
    font-size: 1.75rem;
    padding-right: 1rem;
  }

  &__phone-number {
    font-size: 1.5rem;
    text-decoration: underline;
    margin: 0;
  }

  &__email-address {
    font-size: 1rem;
    padding-top: 0;
    text-decoration: underline;
  }
}

//styles for montering
.mont-content {
  @extend .width-container;

  background-color: $color-primary-light;
  color: $color-background;
  margin-bottom: 10px;

  &__heading {
    @extend .width-container;

    padding: 1rem 0 1rem 0;
    color: $color-background;
  }

  &__description {
    @extend .width-container;

    padding-bottom: 1rem;
  }

  &__sec-heading {
    @extend .width-container;

    font-size: 1.125rem;
    margin-top: 0;
    padding-top: 1rem;
    text-decoration: underline;
  }
}
