.main-content {
  @extend .width-container;
  position: relative;
  margin-bottom: 25px;

  &__list {
    list-style: none;
    margin: 0;
    padding: 12px 0.5rem;
    display: flex;
    justify-content: space-evenly;
    background-color: $color-secondary;
    color: $color-background;
    font-family: $font-primary;
    text-transform: uppercase;
    font-weight: bold;
  }

  // &__item::before {
  //   content: "|";
  //   font-weight: 500;
  //   padding-right: 4px;
  // }

  &__image {
    height: 300px;
    background-image: url("../images/varmepumpe.jpg");
    background-size: cover;
  }

  &__sertificate {
    width: 180px;
    background-color: $color-primary;
    color: $color-background;
    font-family: "roboto";
    text-transform: uppercase;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    left: 20px;
    top: 30px;
    padding: 1rem 0;
  }

  &__description {
    background-color: $color-primary-light;
    color: $color-background;
    font-weight: 500;
    margin: 0;
  }

  &__description p {
    @extend .width-container;
    padding: 1rem 0;
  }
}

.secondary-content {
  @extend .width-container;

  margin-top: 0;
  background-color: $color-secondary;
  color: $color-background;

  &__list {
    margin: 0;
    padding: 1rem 1rem 1rem 2rem;
  }

  &__item {
    padding: 0.5rem 0;
  }
}

.contact-content {
  @extend .width-container;

  &__container1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: $color-secondary;
    color: $color-background;
  }

  &__fig {
    margin: 0;
    padding: 1rem 0 1rem 0;
  }

  &__item {
    padding: 0;
    margin: 0;
    text-transform: capitalize;
  }

  &__item:first-child {
    padding-bottom: 0.5rem;
  }

  &__container2 {
    background-color: $color-primary-light;
    color: $color-background;
    display: flex;
    flex-direction: column;
    padding: 1rem 0 1rem 2rem;
  }

  &__link {
    display: flex;
    align-items: center;
    color: $color-background;
    text-decoration: none;
  }

  &__icon {
    padding-right: 1rem;
    font-size: 1.75rem;
  }

  &__phone-number {
    font-size: 1.5rem;
    padding-left: 1rem;
    text-decoration: underline;
    margin: 0;
  }

  &__email-address {
    font-size: 1rem;
    padding-top: 0;
    text-decoration: underline;
  }
}

//styles for montering
.mont-content {
  @extend .width-container;

  background-color: $color-primary-light;
  color: $color-background;
  margin-bottom: 10px;

  &__heading {
    @extend .width-container;

    padding: 1rem 0 1rem 0;
    color: $color-background;
  }

  &__description {
    @extend .width-container;

    padding-bottom: 1rem;
  }

  &__sec-heading {
    @extend .width-container;

    font-size: 1.125rem;
    margin-top: 0;
    padding-top: 1rem;
    text-decoration: underline;
  }
}
