//colors
$color-primary: #66d9af;
$color-primary-light: #acdfcc;
$color-secondary: #fff;
$color-background: #2c2c2e;

//fonts
$font-primary: "montserrat", sans serif;
$font-secondary: "open sans", sans serif;
$font-sertificate: "roboto", sans serif;
